<div id="sidebar" class="sidebar responsive ace-save-state sidebar-fixed">
    <script type="text/javascript">
                try { ace.settings.loadState('sidebar') } catch (e) { }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts" style="padding-top: 10px; font-size: 16px; color: coral;">
        <span class="blue bolder" style="font-size: 14px">Menu</span>
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">

        </div>
    </div>

    <ul class="nav nav-list">
        <li>
            <a href="/Admin/SinhVien">
                <i class="menu-icon fa fa-graduation-cap"></i>
                <span class="menu-text"> Quản Lý Sinh Viên </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li>
            <a href="/Admin/GiaoVien">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text"> Quản Lý Giáo Viên </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li>
            <a href="/Admin/LopHocPhan">
                <i class="menu-icon fa fa-group"></i>
                <span class="menu-text"> Quản Lý Lớp Học Phần </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li>
            <a href="/Admin/LopHocPhan/MonHoc">
                <i class="menu-icon fa fa-book"></i>
                <span class="menu-text"> Quản Lý Môn Học </span>
            </a>

            <b class="arrow"></b>
        </li>
        @*<li>
            <a href="/Admin/DiemRenLuyen">
                <i class="menu-icon fa fa-star"></i>
                <span class="menu-text"> Quản Lý Điểm Rèn Luyện </span>
            </a>

            <b class="arrow"></b>
        </li>*@
        <li>
            <a href="/Admin/QlGiayTo">
                <i class="menu-icon fa fa-file-text"></i>
                <span class="menu-text"> Quản Lý Giấy Tờ </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li>
            <a href="/Admin/LichSu">
                <i class="menu-icon fa fa-history"></i>
                <span class="menu-text"> Lịch Sử Tác Động </span>
            </a>

            <b class="arrow"></b>
        </li>
    </ul><!-- /.nav-list -->

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>
