
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <form method="post">
                    <div class="form-group ">
                        <label class="control-label " for="text">
                            M&atilde; Sinh Vi&ecirc;n
                        </label>
                        <input class="form-control" id="text" name="text" type="text" />
                    </div>
                    <div class="form-group ">
                        <label class="control-label " for="text1">
                            Họ Đệm
                        </label>
                        <input class="form-control" id="text1" name="text1" type="text" />
                    </div>
                    <div class="form-group ">
                        <label class="control-label " for="text2">
                            T&ecirc;n
                        </label>
                        <input class="form-control" id="text2" name="text2" type="text" />
                    </div>
                    <div class="form-group ">
                        <label class="control-label " for="select">
                            Khoa
                        </label>
                        <select class="select form-control" id="select" name="select">
                            <option value="CNTT">
                                CNTT
                            </option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label class="control-label " for="select1">
                            Lớp
                        </label>
                        <select class="select form-control" id="select1" name="select1">
                            <option value="12T1">
                                12T1
                            </option>
                        </select>
                    </div>
                    <div class="form-group ">
                        <label class="control-label " for="date">
                            Ng&agrave;y sinh
                        </label>
                        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text" />
                    </div>
                    <div class="form-group ">
                        <label class="control-label " for="text3">
                            Hộ Khẩu
                        </label>
                        <input class="form-control" id="text3" name="text3" type="text" />
                    </div>
                    <div class="form-group ">
                        <label class="control-label " for="select2">
                            Quốc Tịch
                        </label>
                        <select class="select form-control" id="select2" name="select2">
                            <option value="Việt Nam">
                                Việt Nam
                            </option>
                        </select>
                    </div>  
                    <div class="form-group ">
                        <label class="control-label " for="text4">
                            Địa chỉ
                        </label>
                        <input class="form-control" id="text4" name="text4" type="text" />
                    </div>
                    <div class="form-group ">
                        <label class="control-label " for="text5">
                            Nơi sinh
                        </label>
                        <input class="form-control" id="text5" name="text5" type="text" />
                    </div>
                </form>
            </div>
            
            <div class="col-md-6 col-sm-6 col-xs-12">

                <div class="form-group ">
                    <label class="control-label " for="text6">
                        D&acirc;n Tộc
                    </label>
                    <input class="form-control" id="text6" name="text6" type="text" />
                </div>
                <div class="form-group ">
                    <label class="control-label " for="tel">
                        Điện Thoại
                    </label>
                    <input class="form-control" id="tel" name="tel" type="text" />
                </div>
                <div class="form-group ">
                    <label class="control-label " for="text7">
                        Email
                    </label>
                    <input class="form-control" id="text7" name="text7" type="text" />
                </div>
                <div class="form-group ">
                    <label class="control-label " for="text8">
                        Số CMND
                    </label>
                    <input class="form-control" id="text8" name="text8" type="text" />
                </div>
                <div class="form-group ">
                    <label class="control-label " for="text9">
                        Ng&agrave;y cấp
                    </label>
                    <input class="form-control" id="text9" name="text9" type="text" />
                </div>
                <div class="form-group ">
                    <label class="control-label " for="text10">
                        Nơi Cấp
                    </label>
                    <input class="form-control" id="text10" name="text10" type="text" />
                </div>
                <div class="form-group ">
                    <label class="control-label " for="text11">
                        Họ T&ecirc;n Cha
                    </label>
                    <input class="form-control" id="text11" name="text11" type="text" />
                </div>
                <div class="form-group ">
                    <label class="control-label " for="text12">
                        Điện Thoại Cha
                    </label>
                    <input class="form-control" id="text12" name="text12" type="text" />
                </div>
                <div class="form-group ">
                    <label class="control-label " for="text13">
                        Họ T&ecirc;n Mẹ
                    </label>
                    <input class="form-control" id="text13" name="text13" type="text" />
                </div>
                <div class="form-group ">
                    <label class="control-label " for="text14">
                        Điện Thoại Mẹ
                    </label>
                    <input class="form-control" id="text14" name="text14" type="text" />
                </div>
                <div class="form-group">
                    <div>
                        <button class="btn btn-primary " name="submit" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
            </div>
    </div>
