@using DevExtreme.AspNet.Mvc

@{
    ViewBag.Title = "Danh sách sinh viên";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@(Html.DevExtreme().DataGrid()
        .ID("gridDanhSach")
      .Columns(columns =>
      {
          columns.Add()
           .DataField("SinhVien.MaSv")
           .Caption("Mã Sinh Viên");
          columns.Add()
          .DataField("SinhVien.Lop.Ten")
          .Caption("Lớp SH");
          columns.Add()
            .DataField("SinhVien.HoDem")
            .Caption("Họ Đệm");
          columns.Add()
              .DataField("SinhVien.Ten")
              .Caption("Tên");

      })
      .HeaderFilter(headerFilter => headerFilter.Visible(true))
      .Paging(paging => paging.PageSize(5))
      .Pager(pager =>
      {
          pager.ShowInfo(true);
          pager.InfoText("Trang {0}({1} trang)");
      })
      .DataSource(d => d.WebApi().Controller("LopHocPhanApi").LoadAction("GetDanhSachSinhVien").LoadParams(new { id = new JS("returnId") }).InsertAction("PostMonHoc").Key("Id"))
      .ShowBorders(true)
      .Editing(editing =>
      {
          editing.Texts(t =>
          {
              t.AddRow("Thêm mới");
              t.EditRow("Sửa");
              t.DeleteRow("Xóa");
              t.CancelAllChanges("Hủy bỏ thay đổi");
              t.CancelRowChanges("Hủy bỏ");
              t.ConfirmDeleteMessage("Bạn có muốn xóa không?");
              t.SaveAllChanges("Lưu thay đổi");
              t.SaveRowChanges("Xác nhận");
          });
      })
      .ColumnAutoWidth(true)
      .ColumnChooser(c =>
      {
          c.Enabled(true);
          c.Title("Chọn cột hiển thị");
          c.EmptyPanelText("Kéo cột vào để ẩn đi");
      })
      )
<script>
    function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,
            function (m, key, value) {
                vars[key] = value;
            });
        return vars;
    }

    returnId = function() {
        return getUrlVars()["id"];
    };
</script>
<div style="margin-top: 20px">
    <button id="btnAdd" onclick="btnAddClick()" class="btn btn-primary" style="float:left" data-toggle="modal" data-target="#myModal">Thêm sinh viên</button>
</div>
<script>
    function btnAddClick() {
        var dataGrid = $("#gridSinhVien").dxDataGrid("instance");
        dataGrid.clearFilter();
    }
</script>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm sinh viên cho lớp học phần</h4>
            </div>
            <div class="modal-body">
                @(Html.DevExtreme().DataGrid()
                      .ID("gridSinhVien")
                      .Columns(columns =>
                      {
                          columns.Add()
                              .DataField("MaSv")
                              .Caption("Mã SV");
                          columns.Add()
                              .DataField("HoDem")
                              .Caption("Họ Đệm");
                          columns.Add()
                              .DataField("Ten")
                              .Caption("Tên");
                          columns.Add()
                              .DataField("KhoaHocId")
                              .Caption("Khóa Học")
                              .Lookup(lookup => lookup
                                  .DataSource(d => d.WebApi().Controller("SinhVienApi").LoadAction("GetKhoaHoc").Key("Id"))
                                  .DisplayExpr("Ten")
                                  .ValueExpr("Id")
                              );
                          columns.Add()
                              .DataField("KhoaId")
                              .Caption("Khoa")
                              .Lookup(lookup => lookup
                                  .DataSource(d => d.WebApi().Controller("SinhVienApi").LoadAction("GetKhoa").Key("Id"))
                                  .DisplayExpr("Ten")
                                  .ValueExpr("Id")
                              )
                              .SetCellValue("loadKhoa");
                          columns.Add()
                              .DataField("LopHocId")
                              .Caption("Lớp")
                              .Lookup(lookup => lookup
                                  .DataSource(d => d.WebApi().Controller("SinhVienApi").LoadAction("GetLop").LoadParams(new { id = new JS("khoaId") }).Key("Id"))
                                  .DisplayExpr("Ten")
                                  .ValueExpr("Id")
                              );
                          columns.Add()
                              .Caption("Ngày Sinh")
                              .DataField("NgaySinh")
                              .DataType(GridColumnDataType.Date);
                          columns.Add()
                              .DataField("HoKhau")
                              .Caption("Hộ Khẩu")
                              .Visible(false);
                          columns.Add()
                              .DataField("QuocTich")
                              .Caption("Quốc Tịch")
                              .Lookup(lookup => lookup
                                  .DataSource(new JS("getNationalites"))
                              )
                              .Visible(false);
                          columns.Add()
                              .DataField("DiaChi")
                              .Caption("Địa Chỉ")
                              .Visible(false);
                          columns.Add()
                              .DataField("NoiSinh")
                              .Caption("Nơi Sinh")
                              .Visible(false);
                          columns.Add()
                              .DataField("DanToc")
                              .Caption("Dân Tộc")
                              .Visible(false);
                          columns.Add()
                              .DataField("DienThoai")
                              .Caption("Điện Thoại")
                              .Visible(false);
                          columns.Add()
                              .DataField("Email")
                              .ValidationRules(rules => { rules.AddEmail().Message("Email sai định dạng"); })
                              .Visible(false);
                          columns.Add()
                              .DataField("Cmnd")
                              .Caption("Số CMND")
                              .Visible(false);
                          columns.Add()
                              .DataField("NgayCap")
                              .Caption("Ngày Cấp")
                              .DataType(GridColumnDataType.Date)
                              .Visible(false);
                          columns.Add()
                              .DataField("NoiCap")
                              .Caption("Nơi Cấp")
                              .Visible(false);
                          columns.Add()
                              .DataField("HoTenCha")
                              .Caption("Họ Tên Cha")
                              .Visible(false);
                          columns.Add()
                              .DataField("DienThoaiCha")
                              .Caption("Điện Thoại Cha")
                              .Visible(false);
                          columns.Add()
                              .DataField("HoTenMe")
                              .Caption("Họ Tên Mẹ")
                              .Visible(false);
                          columns.Add()
                              .DataField("DienThoaiMe")
                              .Caption("Điện Thoại Mẹ")
                              .Visible(false);
                          columns.Add()
                              .DataField("GioiTinh")
                              .Caption("Giới Tính")
                              .Visible(false);
                      })
                      .Selection(s => s
                          .Mode(SelectionMode.Multiple)
                          .ShowCheckBoxesMode(GridSelectionShowCheckBoxesMode.Always))
                      .HeaderFilter(headerFilter => headerFilter.Visible(true))
                      .OnEditorPreparing("onEditorPreparing")
                      .Paging(paging => paging.PageSize(3))
                      .Pager(pager =>
                      {
                          pager.ShowInfo(true);
                          pager.InfoText("Trang {0}({1} trang)");
                      })
                      .DataSource(d => d.WebApi().Controller("LopHocPhanApi").LoadAction("GetSinhVienToAdd").LoadParams(new {id = new JS("lopHocPhanId")}).Key("Id"))
                      .ShowBorders(true)
                      .Editing(editing =>
                      {
                          editing.Texts(t =>
                          {
                              t.AddRow("Thêm mới");
                              t.EditRow("Sửa");
                              t.DeleteRow("Xóa");
                              t.CancelAllChanges("Hủy bỏ thay đổi");
                              t.CancelRowChanges("Hủy bỏ");
                              t.ConfirmDeleteMessage("Bạn có muốn xóa không?");
                              t.SaveAllChanges("Lưu thay đổi");
                              t.SaveRowChanges("Xác nhận");
                          });
                      })
                      .ColumnAutoWidth(false)
                      .ColumnChooser(c =>
                      {
                          c.Enabled(true);
                          c.Title("Chọn cột hiển thị");
                      }))
                <script>
                    var id = 0;
                    loadKhoa = function(rowData, value) {
                        id = value;
                        rowData.LopHocId = null;
                        this.defaultSetCellValue(rowData, value);
                    }
                    khoaId = function() {
                        return id;
                    }
                    lopHocPhanId = function() {
                        return getUrlParameter('id');
                    };
                    onEditorPreparing = function(e) {
                        if (e.parentType === "dataRow" && e.dataField === "KhoaId") {
                            e.editorOptions.placeholder = "Chọn Khoa";
                        } else if (e.parentType === "dataRow" && e.dataField === "LopHocId") {
                            e.editorOptions.placeholder = "Chọn Lớp";
                        } else if (e.parentType === "dataRow" && e.dataField === "QuocTich") {
                            e.editorOptions.placeholder = "Chọn Quốc Tịch";
                        } else if (e.parentType === "dataRow" && e.dataField === "KhoaHocId") {
                            e.editorOptions.placeholder = "Chọn Khóa Học";
                        }

                    }
                    getNationalites = function() {
                        return nationalities;
                    }
                </script>
                    <button id="btnAddSv" onclick="btnAddSvClick()" style="margin-top: 10px" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Thêm</button>
                <script>
                    function btnAddSvClick() {
                        var dataGrid = $('#gridSinhVien').dxDataGrid('instance');
                        var keys = dataGrid.getSelectedRowKeys();
                        alert(keys);

                        $.ajax(
                        {
                            type: "POST", //HTTP POST Method  
                            url: "/Admin/LopHocPhan/AddSinhVien", // Controller/View   
                            data: { //Passing data  
                                id: returnId,
                                keys: keys
                            },
                            success: function (data) {
                                debugger;
                                var dataGrid = $("#gridSinhVien").dxDataGrid("instance");
                                dataGrid.refresh();
                                dataGrid.clearFilter();
                                var dataGrid2 = $("#gridDanhSach").dxDataGrid("instance");
                                dataGrid2.refresh();
                            }
                        });
                    }
                </script>
             </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<style>
    .modal-dialog {
        width: 1200px !important;    
    }
</style>